{
  "openapi": "3.1.0",
  "info": {
    "title": "LUKHAS API",
    "description": "Governed tool loop, auditability, feedback LUT, and safety modes.",
    "contact": {
      "name": "LUKHAS AI Team",
      "url": "https://github.com/LukhasAI/Lukhas"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "1.0.0",
    "x-service-version": "dev"
  },
  "servers": [
    {
      "url": "https://api.ai",
      "description": "Production"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local Development"
    }
  ],
  "paths": {
    "/traces/latest": {
      "get": {
        "tags": [
          "traces"
        ],
        "summary": "Get latest MATRIZ trace",
        "description": "Retrieve the most recent trace from the MATRIZ traces directory.\n\nReturns:\n    JSON trace data with trace_id, or 404 if no traces available",
        "operationId": "get_latest_trace_traces_latest_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Get Latest Trace Traces Latest Get"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Service-Version": {
                "$ref": "#/components/headers/X-Service-Version"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Limit-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Limit-Requests"
              },
              "X-RateLimit-Remaining-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Remaining-Requests"
              },
              "X-RateLimit-Reset-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Reset-Requests"
              }
            }
          }
        }
      }
    },
    "/traces/{trace_id}": {
      "get": {
        "tags": [
          "traces"
        ],
        "summary": "Get trace by ID",
        "description": "Retrieve a specific trace by its ID.\n\nArgs:\n    trace_id: The trace identifier\n\nReturns:\n    JSON trace data, or 404 if trace not found",
        "operationId": "get_trace_by_id_traces__trace_id__get",
        "parameters": [
          {
            "name": "trace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Trace Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Get Trace By Id Traces  Trace Id  Get"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Service-Version": {
                "$ref": "#/components/headers/X-Service-Version"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Limit-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Limit-Requests"
              },
              "X-RateLimit-Remaining-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Remaining-Requests"
              },
              "X-RateLimit-Reset-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Reset-Requests"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Service-Version": {
                "$ref": "#/components/headers/X-Service-Version"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Limit-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Limit-Requests"
              },
              "X-RateLimit-Remaining-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Remaining-Requests"
              },
              "X-RateLimit-Reset-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Reset-Requests"
              }
            }
          }
        }
      }
    },
    "/traces/": {
      "get": {
        "tags": [
          "traces"
        ],
        "summary": "List available traces with metadata",
        "description": "List traces across sources with paging and filters. Ordering: mtime desc, name asc. Query params: offset>=0, 1<=limit<=200, optional source filter (env|live|golden), q substring matches id or filename.",
        "operationId": "list_traces_traces__get",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Offset"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "default": 100,
              "title": "Limit"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "enum": [
                    "env",
                    "live",
                    "golden"
                  ],
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Source"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response List Traces Traces  Get"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Service-Version": {
                "$ref": "#/components/headers/X-Service-Version"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Limit-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Limit-Requests"
              },
              "X-RateLimit-Remaining-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Remaining-Requests"
              },
              "X-RateLimit-Reset-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Reset-Requests"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Service-Version": {
                "$ref": "#/components/headers/X-Service-Version"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Limit-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Limit-Requests"
              },
              "X-RateLimit-Remaining-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Remaining-Requests"
              },
              "X-RateLimit-Reset-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Reset-Requests"
              }
            }
          }
        }
      }
    },
    "/healthz": {
      "get": {
        "summary": "Healthz",
        "description": "Health check endpoint for monitoring.\n\nBehavior:\n- Always returns HTTP 200 for readiness consumers.\n- When LUKHAS_VOICE_REQUIRED=true and the lightweight probe fails,\n  include 'voice' in `degraded_reasons` and set `voice_mode` to 'degraded'.\n- Exposes MATRIZ version, enabled modules, and lane configuration.",
        "operationId": "healthz_healthz_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Healthz Healthz Get"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Service-Version": {
                "$ref": "#/components/headers/X-Service-Version"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Limit-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Limit-Requests"
              },
              "X-RateLimit-Remaining-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Remaining-Requests"
              },
              "X-RateLimit-Reset-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Reset-Requests"
              }
            }
          }
        }
      }
    },
    "/v1/models": {
      "get": {
        "tags": [
          "OpenAI Compatible"
        ],
        "summary": "List Models",
        "description": "OpenAI-compatible models list endpoint.",
        "operationId": "list_models_v1_models_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response List Models V1 Models Get"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Service-Version": {
                "$ref": "#/components/headers/X-Service-Version"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Limit-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Limit-Requests"
              },
              "X-RateLimit-Remaining-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Remaining-Requests"
              },
              "X-RateLimit-Reset-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Reset-Requests"
              }
            }
          }
        }
      }
    },
    "/v1/embeddings": {
      "post": {
        "tags": [
          "OpenAI Compatible"
        ],
        "summary": "Create Embeddings",
        "description": "OpenAI-compatible embeddings endpoint with unique deterministic vectors.",
        "operationId": "create_embeddings_v1_embeddings_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Create Embeddings V1 Embeddings Post"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Service-Version": {
                "$ref": "#/components/headers/X-Service-Version"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Limit-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Limit-Requests"
              },
              "X-RateLimit-Remaining-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Remaining-Requests"
              },
              "X-RateLimit-Reset-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Reset-Requests"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Service-Version": {
                "$ref": "#/components/headers/X-Service-Version"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Limit-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Limit-Requests"
              },
              "X-RateLimit-Remaining-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Remaining-Requests"
              },
              "X-RateLimit-Reset-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Reset-Requests"
              }
            }
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "tags": [
          "OpenAI Compatible"
        ],
        "summary": "Create Chat Completion",
        "description": "OpenAI-compatible chat completions endpoint (stub for RC soak testing).",
        "operationId": "create_chat_completion_v1_chat_completions_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Create Chat Completion V1 Chat Completions Post"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Service-Version": {
                "$ref": "#/components/headers/X-Service-Version"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Limit-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Limit-Requests"
              },
              "X-RateLimit-Remaining-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Remaining-Requests"
              },
              "X-RateLimit-Reset-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Reset-Requests"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Service-Version": {
                "$ref": "#/components/headers/X-Service-Version"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Limit-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Limit-Requests"
              },
              "X-RateLimit-Remaining-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Remaining-Requests"
              },
              "X-RateLimit-Reset-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Reset-Requests"
              }
            }
          }
        }
      }
    },
    "/v1/responses": {
      "post": {
        "tags": [
          "OpenAI Compatible"
        ],
        "summary": "Create Response",
        "description": "LUKHAS responses endpoint (OpenAI-compatible format).",
        "operationId": "create_response_v1_responses_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Create Response V1 Responses Post"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Service-Version": {
                "$ref": "#/components/headers/X-Service-Version"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Limit-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Limit-Requests"
              },
              "X-RateLimit-Remaining-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Remaining-Requests"
              },
              "X-RateLimit-Reset-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Reset-Requests"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Service-Version": {
                "$ref": "#/components/headers/X-Service-Version"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Limit-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Limit-Requests"
              },
              "X-RateLimit-Remaining-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Remaining-Requests"
              },
              "X-RateLimit-Reset-Requests": {
                "$ref": "#/components/headers/X-RateLimit-Reset-Requests"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    },
    "headers": {
      "X-Trace-Id": {
        "description": "W3C trace context ID (32-char hex) for request correlation",
        "schema": {
          "type": "string",
          "pattern": "^[0-9a-f]{32}$"
        },
        "example": "4bf92f3577b34da6a3ce929d0e0e4736"
      },
      "X-Service-Version": {
        "description": "Deployment version (git SHA or version string)",
        "schema": {
          "type": "string"
        },
        "example": "a3f2d1c"
      },
      "X-RateLimit-Limit": {
        "description": "Max requests allowed in the current window",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "X-RateLimit-Remaining": {
        "description": "Requests remaining in the current window",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "X-RateLimit-Reset": {
        "description": "Epoch seconds until the current window resets",
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0
        }
      },
      "X-RateLimit-Limit-Requests": {
        "description": "Maximum requests allowed in the current window (legacy)",
        "schema": {
          "type": "integer",
          "minimum": 1
        }
      },
      "X-RateLimit-Remaining-Requests": {
        "description": "Remaining requests in the current window (legacy)",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "X-RateLimit-Reset-Requests": {
        "description": "Seconds until the rate limit window resets (legacy)",
        "schema": {
          "type": "string"
        },
        "example": "42.150"
      },
      "Retry-After": {
        "description": "Seconds to wait before retrying (429 responses only)",
        "schema": {
          "type": "integer",
          "minimum": 1
        }
      }
    }
  }
}