{
  "openapi": "3.0.0",
  "info": {
    "title": "LUKHAS Dream API",
    "description": "Consciousness expansion and dream state processing\n\n**Constellation Star**: \ud83c\udf19 Drift (Dream)",
    "version": "1.0.0",
    "contact": {
      "name": "LUKHAS AI Platform",
      "url": "https://lukhas.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.lukhas.ai",
      "description": "Production"
    },
    {
      "url": "http://localhost:8000",
      "description": "Development"
    }
  ],
  "paths": {
    "/v1/dream/expand": {
      "post": {
        "summary": "Initiate dream expansion",
        "operationId": "dream__v1_dream_expand_post",
        "tags": [
          "Dream"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/dream/collapse": {
      "post": {
        "summary": "Collapse dream state",
        "operationId": "dream__v1_dream_collapse_post",
        "tags": [
          "Dream"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/dream/resonance": {
      "get": {
        "summary": "Query resonance field",
        "operationId": "dream__v1_dream_resonance_get",
        "tags": [
          "Dream"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Lambda ID (\u03bbID) JWT token"
      }
    }
  },
  "tags": [
    {
      "name": "Dream",
      "description": "Consciousness expansion and dream state processing"
    }
  ]
}
